@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  text-align: center;
  background-color: #000000;
}
#number1,
#number2 {
  height: 30px;
  width: 150px;
  border-radius: 10px;
  border: 1px solid #000000;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}
#number3{
  margin-top: 10px;
  height: 30px;
  width: 325px;
  border-radius: 10px;
  border: 1px solid #000000;
  padding-left: 10px;
  padding-right: 10px;
  align-items: center;
}
input {
  background-color: #F0DB4F;
  /* color: #ffffff; */
  font-size: 20px;
}
button {
  border: 1px solid #000000;
  height: 35px;
  width: 60px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  background-color: #F0DB4F;
}
#Dwarning {
  color: red;
  font-size: 30px;
  display: inline;
  margin-left: 10px;
}
#Dsuccess {
  color: #F0DB4F;
  font-size: 25px;
  display: inline;
  margin-left: 10px;
}
#Swarning {
  color: red;
  font-size: 30px;
  display: inline;
  margin-left: 10px;
}
#Ssuccess {
  color: #F0DB4F;
  font-size: 25px;
  display: inline;
  margin-left: 10px;
}
#results {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(5, auto) ;
  margin-top: 50px;
}
#results .table-part {
  margin: 0 20px;
  font-size: 25px;
  text-align: start;
  font-family: "Prompt", serif;
  font-weight: 500;
  color: aquamarine;
  margin-bottom: 50px;
}
/* #result1 {
  padding: 20px 20px;
  text-align: start;
}
#result2 {
    padding: 20px 20px;
    text-align: start;
} */
